/* Style for 320px to */
@media (min-width: 320px) {
  body::-webkit-scrollbar {
    display: none;
  }
  .mainContainer {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  nav {
    height: 82px;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 99;
    align-items: center;
    background-color: var(--primarycolor);
  }
  nav > img {
    width: 120px;
    margin-left: -35px;
    background-color: white;
    float: left;
  }
  .searchbox {
    height: 45px;
    width: 50%;
    padding: 0px 20px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 0px 20px;
    border-radius: 8px;
    background-color: rgba(173, 230, 255, 0.367);
  }
  .ic {
    font-size: 26px;
    background-color: rgba(255, 255, 255, 0);
  }
  input {
    font-size: 16px;
    background-color: transparent;
    border: none;
    width: 94%;
  }
  .btn-div {
    display: flex;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0);
  }
  .btnnav {
    width: 40px;
    height: 40px;
    border: none;
    font-size: 20px;
    background-color: transparent;
    border-radius: 8px;
  }
  .btnnav span {
    display: none;
  }
  .ic2 {
    font-size: 32px;
    background-color: rgba(255, 255, 255, 0);
  }
  .btnnav:hover {
    border-radius: 8px;
    background-color: #2571ea;
  }
  .sectiononnav {
    display: none;
  }

  /* Add To Cart  */
  .addtocart {
    height: 87vh;
    width: 65%;
    position: absolute;
    right: -100%;
    transition: 1s all;
    top: 82px;
    gap: 0;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid lightgray;
    background-color: rgb(255, 255, 255);
  }
  .addtocart > div {
    width: 100%;
  }
  .cartcp {
    right: 0;
  }
  .top {
    height: 10%;
    justify-content: end;
    padding-right: 20px;
  }
  .cartcross {
    color: black;
    font-size: 80%;
    background-color: transparent;
  }
  .middle {
    height: 387px;
    overflow-y: scroll;
    border: 1px solid lightgray;
  }
  .bottom {
    height: 10%;
  }

  /* Login Box on Nav */
  .login {
    position: absolute;
    height: 250px;
    width: 85%;
    border-radius: 24px;
    box-shadow:
      2px 2px 4px rgba(0, 0, 0, 0.366),
      -2px -2px 4px rgba(0, 0, 0, 0.366);
    background-color: white;
    top: -300px;
    left: 50%;
    transition: 1s all;
    transform: translate(-50%, -50%);
  }
  .inslogin {
    position: absolute;
    border-radius: 14px;
    background-color: white;
    height: 80%;
    width: 85%;
    padding: 20px 20px 20px 40px;
  }
  label {
    background-color: transparent;
  }
  .inslogin input {
    border: 1px solid gray;
    padding: 0px 5px 0px 10px;
    border-radius: 6px;
    margin: 5px 0px 0px 0px;
  }
  .inslogin Button {
    margin-top: 20px;
    width: 40% !important;
    padding: 2px 10px 2px 10px !important;
  }
  .cross {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    color: black;
    font-size: 30px;
    margin: 10px;
    background-color: transparent;
  }
  .closelogin {
    top: 300px;
  }

  /* Home Page */
  .home {
    width: 97%;
    position: relative;
    margin: auto;
    padding: 90px 0px 0px 0px;
  }
  .products {
    height: 120px;
    width: 100%;
    overflow: scroll;
    margin-bottom: 15px;
    justify-content: space-evenly;
    background-color: var(--primarycolor);
  }
  .products::-webkit-scrollbar {
    display: none;
  }
  .prd-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 100px;
    width: 80px;
  }
  .prd-box > h6 {
    font-weight: bolder;
  }
  .prd-box > img {
    width: 100%;
    height: 50px;
    background-color: transparent;
    object-fit: contain;
  }
  .carousel {
    position: relative;
    /* z-index: 1 !important; */
  }
  .d-block {
    height: 150px !important;
    object-fit: cover !important;
  }
  .carousel-indicators {
    background-color: transparent !important;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: none;
  }

  /* section */
  .sec1 {
    width: 97%;
    min-height: 90vh;
    margin: auto;
    margin-top: 15px;
    background-color: white;
    padding: 35px 10px 35px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  /* Card */

  .boxcards {
    background: #fff;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.25s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    width: 170px;
    padding-top: 20px;
    border-radius: 18px;
  }
  .boxcards:hover {
    transform: translateY(-4px);
  }
  .boxcards .imgbox {
    width: 130px;
    height: 100px;
    background-color: transparent;
  }
  .boxcards img {
    width: 110px;
    height: 110px;
    transition: all 0.25s;
    object-fit: contain;
  }
  .boxcards img:hover {
    transform: scale(1.05);
  }
  .pname {
    font-size: 12px;
    margin: 10px;
  }
  .desc {
    display: none;
  }
  .price {
    color: #388e3c;
    font-weight: 600;
    text-align: left;
  }

  .rating {
    font-size: 13px;
    color: #ffa000;
    text-align: left;
  }
  .carti {
    text-align: right;
    display: flex;
    margin-top: -10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: end;
    background-color: transparent;
  }
  .carticon {
    color: black;
    margin-right: 5px;
    font-size: 15px;
    background-color: transparent;
  }
  .carticon:active {
    transform: scale(1.055);
  }
  .boxcardsbutton {
    width: 100%;
    margin: 0;
    background: #ff9f00;
    border: none;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
  button:active {
    transform: scale(1.055);
  }
  .boxcards p {
    margin: 0px 0px 5px 0px;
  }

  /* Order-Page */
  .Orderpg {
    height: 100vh;
    width: 100%;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0);
  }
  .ord {
    width: 97%;
    height: 80vh;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    margin-top: 105px;
    background-color: #fff;
  }
  .addpg {
    display: flex;
    gap: 10px;
    background-color: transparent;
    flex-direction: column;
  }
  .addpg input {
    height: 25px;
    width: 300px;
    padding: 2px 10px 2px 10px;
    border: 1px solid lightgray;
  }
  .orderitem {
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #fff;
  }
  .lft > img {
    height: 150px;
    width: 150px;
    background-color: #fff;
    object-fit: contain;
  }
  .ryt {
    background-color: #fff;
    flex-direction: column;
  }
  .payic {
    background-color: transparent;
  }
  .giff {
    height: 300px;
    width: 90%;
    background-color: transparent;
  }

  /* Contact Page */
  .contactpg {
    width: 100%;
    min-height: 60vh;
    margin-top: 15px;
    background-color: #2a2a2a;
    padding: 55px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    gap: 0px;
  }
  .contactpg div {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    padding: 0px;
  }
  .contactpg div > p {
    color: white;
    font-size: 12px;
  }
  .contactpg div > h4 {
    color: whitesmoke;
    padding-bottom: 10px;
    font-weight: bold;
  }
  .contactpg div:nth-child(3) {
    display: none;
  }
  .contactpg div:last-child {
    display: none;
  }
}

/* style for Tablet */
@media (min-width: 768px) {
  body::-webkit-scrollbar {
    display: none;
  }
  nav {
    height: 82px;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 99;
    align-items: center;
    background-color: var(--primarycolor);
  }
  nav > img {
    width: 200px;
    background-color: white;
    float: left;
  }
  .searchbox {
    height: 45px;
    width: 45%;
    padding: 0px 20px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px 0px 80px;
    border-radius: 8px;
    background-color: rgba(173, 230, 255, 0.367);
  }
  .ic {
    font-size: 26px;
    background-color: rgba(255, 255, 255, 0);
  }
  input {
    font-size: 16px;
    background-color: transparent;
    border: none;
    width: 94%;
  }
  .btnnav {
    width: 100px;
    height: 40px;
    border: none;
    font-size: 20px;
    background-color: transparent;
    border-radius: 8px;
  }
  .btn-div {
    margin-left: auto;
    margin-right: 50px;
  }
  .btn-div span {
    display: unset;
  }
  .ic2 {
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0);
  }
  .btnnav:hover {
    border-radius: 8px;
    background-color: #2571ea;
  }
  .sectiononnav {
    display: none;
  }

  /* Login Box on Nav */
  .login {
    height: 250px;
    width: 425px;
  }

  /* Home Page */
  .home {
    width: 97%;
    padding-top: 95px;
    margin: auto;
  }
  .products {
    height: 130px;
    width: 100%;
    margin-bottom: 15px;
    justify-content: space-evenly;
    background-color: var(--primarycolor);
  }
  .prd-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 80px;
  }
  .prd-box > h6 {
    font-weight: bolder;
  }
  .prd-box > img {
    width: 100%;
    height: 50px;
    background-color: transparent;
    object-fit: contain;
  }
  .carousel {
    position: relative;
    z-index: 1 !important;
  }
  .carousel-indicators {
    background-color: transparent !important;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    height: 50px !important;
    background-color: rgb(36, 32, 32) !important;
  }

  /* Login Box */
  .login-box {
    height: 350px;
    width: 550px;
    border-radius: 24px;
    box-shadow:
      2px 2px 4px rgba(0, 0, 0, 0.366),
      -2px -2px 4px rgba(0, 0, 0, 0.366);
    position: absolute;
    top: -300px;
    left: 50%;
    transition: 1s all;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color: white;
    background: linear-gradient(150deg, #2571ea 30%, rgb(255, 255, 255) 30%);
  }
  .cross {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    margin: 10px;
    background-color: transparent;
  }
  .closelogin {
    top: 300px;
  }

  /* Login Box Button */
  .login-box button {
    width: 180px;
    height: 40px;
    border: none;
    font-size: 16px;
    background-color: transparent;
    border-radius: 8px;
    background-color: #2571ea;
  }
  .login-box button:active {
    transform: scale(1.06);
  }

  /* section */
  .sec1 {
    width: 97%;
    min-height: 90vh;
    margin: auto;
    margin-top: 15px;
    background-color: white;
    padding: 35px 10px 35px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  /* Card */

  .boxcards {
    background: #fff;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.25s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    width: 220px;
    padding-top: 20px;
    border-radius: 18px;
  }
  .boxcards:hover {
    transform: translateY(-4px);
  }
  .boxcards .imgbox {
    width: 200px;
    height: 200px;
    background-color: transparent;
    overflow: hidden;
    padding: 10px;
  }
  .boxcards img {
    width: 160px;
    height: 160px;
    transition: all 0.25s;
    object-fit: contain;
  }
  .boxcards img:hover {
    transform: scale(1.05);
  }
  .pname {
    font-size: 16px;
    margin: 10px;
  }
  .desc {
    font-size: 13px;
    text-align: left;
    display: unset;
  }
  .price {
    color: #388e3c;
    font-weight: 600;
    text-align: left;
  }

  .rating {
    font-size: 13px;
    color: #ffa000;
    text-align: left;
  }
  .carti {
    text-align: right;
    display: flex;
    margin-top: -10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: end;
    background-color: transparent;
  }
  .carticon {
    color: black;
    margin-right: 5px;
    font-size: 18px;
    background-color: transparent;
  }
  .carticon:active {
    transform: scale(1.055);
  }
  .boxcardsbutton {
    width: 100%;
    margin: 0;
    background: #ff9f00;
    border: none;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
  button:active {
    transform: scale(1.055);
  }
  .boxcards p {
    margin: 0px 0px 5px 0px;
  }

  /* Order-Page */
  .Orderpg {
    height: 100vh;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
  }
  .ord {
    width: 97%;
    height: 80vh;
    margin: auto;
    margin-top: 105px;
    background-color: #fff;
  }
  .orderitem {
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: unset;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: auto;
    background-color: #fff;
  }
  .lft > img {
    height: 200px;
    width: 200px;
    background-color: #fff;
    object-fit: contain;
  }
  .ryt {
    background-color: #fff;
    flex-direction: column;
    align-items: start;
  }

  /* Address Page */

  .address {
    width: 97%;
    height: 80vh;
    margin: auto;
    margin-top: 105px;
    background-color: #fff;
    border: 2px solid yellowgreen;
  }

  .giff {
    height: 300px;
    width: 300px;
    background-color: transparent;
  }

  /* Contact Page */
  .contactpg {
    width: 100%;
    min-height: 60vh;
    margin-top: 15px;
    background-color: #2a2a2a;
    padding: 55px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    gap: 30px;
  }
  .contactpg div {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    padding: 20px;
  }
  .contactpg div > p {
    color: white;
    font-size: 14px;
  }
  .contactpg div > h4 {
    color: whitesmoke;
    padding-bottom: 10px;
    font-weight: bold;
  }
}
